/*site responsive*/

@media (max-width:480px)

{ body 
    
    
        font-size: 10px;
}


@media  (max-width:801px)
    
{  body
    
    
 font-size : 12px;

}
    
@media (max-width: 1280px)

{body 

font-size : 14px; 

}
    
    
    
    
  
    
    
flex-wrap: wrap;


/*RECTANGLE 1*/

.sectionone
    {
    width: 35%;
    height: auto;
    background-color:#DBCB12 ; 
    box-shadow:10px 5px 5px black}



.photoprofil{border-radius:150px;
    border-radius:150px;
    border-radius:150px;
    width:150px;
    height:150spx;
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    }

body{
    width: 1000px;
    margin: auto;
}

.intitule h2{
    text-align: left;
    margin : 50px; 
}

H2 {text-align: center;
    font-size: 25px;
    font-family:"Arrial Narrow", "Georgia", sans-serif;
    color:#DBCB12;}


p {text-align: center;
font-size: 20px;
font-family: "Arrial Narrow", "Georgia" "sans-serif";
margin-top: 60px;
margin-bottom: 40px;
}


 
.sectionone h2{
background: #00695C;
padding: 25px;
box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
 


.icon{border-radius:50px;
    border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50spx;
    margin-left: 45px;
    box-shadow:10px 5px 5px black}



/*RECTANGLE 2*/

.sectiontwo
    {
    width: 65%;
   background-color:#EAECEE ; 
    box-shadow:10px 5px 5px black;}


body{
    display: flex;

}

h1 {
    font-size: 30px;
    font-weight: bolder;
    line-height: 45px;
    font-family: "Arrial Narrow", "Georgia"  "sans-serif";
    margin-left: 40px;
    text-decoration: underline;
    
}


.sarah { color: #00695C;}


.iconone
    {border-radius:70px;
    height:70px;
    margin-right: 20px;
    box-shadow:10px 5px 5px black }


.icontwo{
    border-radius:30px;
    width:30px;
    height:30spx;
    margin-left: 110px;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: -10px;
box-shadow:10px 5px 5px black}



hr {margin-top: -30px;
width: 75%;
}


footer{
    margin-top: 300px
    
}

/*AUTRE*/



.div{display: flex;}




