/*site responsive*/

@media (max-width:480px) and (min-width:780px)
{
.section : 100%;
}

@media (min-width:781px) and (max-width:979px)
    
    
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)

flex-wrap: wrap;


/*RECTANGLE 1*/

.sectionone
    {
    width: 35%;
    height: auto;
    background-color: #00695C; 
    box-shadow:10px 5px 5px black}

.photoprofil{border-radius:150px;
    border-radius:150px;
    border-radius:150px;
    width:150px;
    height:150spx;
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    }

body{
    width: 1000px;
    margin: auto;
}


H2 {text-align: center;
    font-size: 25px;
    font-family:"Arrial Narrow", "Georgia", sans-serif;}



p {text-align: center;
font-size: 20px;
font-family: "Arrial Narrow", "Georgia" "sans-serif";
margin-top: 60px;
margin-bottom: 60px;}


#fond {
position: relative;
margin: 0px auto;
width: 350px;
background: #00695C;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
z-index: 10;
height:110px;
}
 
.ruban {
background: #b1c70d;
height: 50px;
width: 300px;
margin: left 55px;
left:-15px;
top: 30px;
float: left;
box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
z-index: 100;
}
 
.sectionone h2{
background: #b1c70d;
padding: 25px;
box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
 


.iconcode{border-radius:50px;
    border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50spx;
    margin-left: 25px;
    margin-top: 50px; 
    box-shadow:10px 5px 5px black}

.iconhikking{border-radius:50px;
    border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50spx;
    margin-left: 40px;
    margin-top: 50px;
    box-shadow:10px 5px 5px black }


.iconcinema{border-radius:50px;
    border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50spx;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow:10px 5px 5px black}


/*RECTANGLE 2*/

.sectiontwo
    {
    width: 65%;
   background-color:#EAECEE ; 
    box-shadow:10px 5px 5px black;}


body{
    display: flex;

}

h1 {
    font-size: 30px;
    font-weight: bolder;
    line-height: 45px;
    font-family: "Arrial Narrow", "Georgia"  "sans-serif";
    margin-left: 40px;
    text-decoration: underline;
    
}


.sarah { color: darkorange;}


.iconstudent{border-radius:70px;
    border-radius:70px;
    border-radius:70px;
    width:70px;
    height:70spx;
    margin-left: -300px;
    margin-top: 50px;
    margin-bottom: -20px;
    margin-right: 20px;
    box-shadow:10px 5px 5px black }

.formation { 
font-size: 30px}


.icondirection{
    border-radius:30px;
    width:30px;
    height:30spx;
    margin-left: 110px;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: -10px;
box-shadow:10px 5px 5px black}

.texteone{
font-size: 20px;}

.iconpoint{
    border-radius:30px;
    width:30px;
    height:30spx;
    margin-left: 110px;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: -10px;
  }


.textetwo{ 
font-size: 20px;}


.iconexp{
    border-radius:70px;
    width:70px;
    height:70spx;
    margin-left:10px;
    margin-top: 50px;
    margin-bottom: -20px;
    margin-right: 20px;
    box-shadow:10px 5px 5px black}

.exppro{
    font-size: 30px;
}

.expone{ font-size: 20px;}


hr {margin-top: -30px;
width: 75%;
}


footer{
    margin-top: 300px
    
}

/*AUTRE*/



.div{display: flex;}





 }