header {;
width: 1500px;
height: 350px;
}

.photo {
width: 250px;
height:300px; 
background:#00695C;
margin-left: 100px;
margin-top: 10px;
}

.Presentation

{
    width: 1000px;
    height: 300px;
    background-color: beige;
    margin-left: 350px;
    margin-top: -320px;
}


.photoprofil{
    border-radius:150px;
    border-radius:150px;
    border-radius:150px;
    width:150px;
    height:150spx;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    }

.sarah {
margin-left: 200px;
margin-top:200px;
color: orangered;
}

.Dev{
    
margin-left: 250px;
margin-top: -10px; }   
    
.contact {
    
width: 250px;
height:300px; 
background:#00695C;
margin-left: 100px;
margin-top: -72px;
text-align: center;
}

.apropos {
width: 250px;
height:300px; 
background:#00695C;
margin-left: 100px;
margin-top: -20px;
text-align: center;
}



.sectionformation {
    
right: 1000px;
width: 300px;
margin-right: 50px;
margin-left: 350px;
margin-top: -615px;
text-align: center
}

.sectionexppro {
right: 100px;
width: 500px;
margin-right: 50px;
margin-left: 500px;
text-align: center
    
}

footer { 
width: 250px;
height:1000px; 
background:#00695C;
margin-left: 100px;
margin-top: 10px;
text-align: center;
}